

@media (max-width:768px){
    .header .nav{
        display: block;
    }

    
    
}

@media(max-width:1488px){
    .headertop{
        display: block;
    }

    .headertop marquee{
        behavior: alternate;
        width: 70%;
    }
}

@media(max-width:767px) {
    .header .logo {
        padding: 8px 15px;
    }
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #555555;
        padding: 10px 0;
    }

    .headertop{
        display: block;
    }

    .headertop marquee{
        width: 100%;
        behavior: alternate;
    }
    
}

@media(max-width:480px){

    .headertop{
        display:none;
    }
    
    .card {
        display: none;
        
    }

    .headertopmobile {
        display: inline-block;
        width: 200px;
        height: 30px;
        background-color: #9eb7e8;
        transform: skew(35deg);
        margin: 0 0 0 -20px;
        /* -webkit-transform: skew(50deg);
           -moz-transform: skew(50deg);
             -o-transform: skew(50deg); */
        /* border-radius: 0px 25px 20px 0px; */
        border:1px solid #000000;
        cursor: pointer; 
        transition: all 0.5s ease;
        box-shadow: 10px 10px 5px grey;
    }

    .headertopmobile a {
        margin-top: 8px;
        font-size: 12px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-35deg);
    }
    /* font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center; */

    

    .headertopmobile:hover{
        color: white;
        box-shadow:10px 10px 5px grey;
        background-color: #7aa3f5;
    }

    @keyframes fadeInTop{
        0%{
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    @keyframes fadeInSide{
        0%{
            transform: translateX(-100px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
}