@media (max-width: 767px) {
    
    .header .logo {
        padding: 8px 15px;
    }
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #555555;
        padding: 10px 0;
    }

    /* .headertop{
        display: block;
    }

    .headertop marquee{
        width: 100%;
        behavior: alternate;
    } */
    
    .headertop{
        display:none;
    }
    .headertopmobile {
        display: inline-block;
        width: 250px;
        height: 50px;
        background-color: white;
        transform: skew(35deg);
        margin: 0 0 0 -20px;
        /* -webkit-transform: skew(50deg);
           -moz-transform: skew(50deg);
             -o-transform: skew(50deg); */
        /* border-radius: 0px 25px 20px 0px; */
        border:1px solid #000000;
        cursor: pointer; 
        transition: all 0.5s ease;
        box-shadow: 10px 10px 5px grey;
    }

    .headertopmobile a {
        margin-top: 17px;
        font-size: 18px;
        color: #282bdb;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-35deg);
    }
    /* font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center; */

    

    .headertopmobile:hover {
        box-shadow:10px 10px 5px grey;
        background-color: #282bdb;
    }

    .headertopmobile:hover a{
        color: white;
    }


    @keyframes fadeInTop{
        0%{
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    @keyframes fadeInSide{
        0%{
            transform: translateX(-100px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    
    .home-section .cover .home-content h1{
        font-size:35px;
        color: #000000;
        margin: 0 0 10px;
        margin-top: 100px;
        opacity: 0;
        animation: fadeInTop 1s ease forwards;
        animation-delay: 0.5s;
    }
    
    .home-section .cover .home-content p{
        font-size: 15px;
        color: #000000;
        margin: 0 0 10px;
         opacity: 0;
         animation: fadeInTop 1s ease forwards;
        animation-delay: 1s;
    }
    
    .home-section .cover .home-content button{
        width: 100px;
        color: #fff;
        font-size: 13px;
        padding: 12px 0;
        background-color: #000000;
        border: 0;
        border-radius: 20px;
        outline: none;
        margin-top: 30px;
        cursor: pointer;
        opacity: 0;
        animation: fadeInSide 1s ease forwards;
        animation-delay: 1.5s;
    }

    .card{
        display: none;
    }
    /* Service */
    

    /* Conatct */
    .contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 100%;
    }

    .contact-in-input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        outline: none;
        padding-left: 5px;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
    }
    

    
    .contact-in-textarea {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        outline: none;
        padding-top: 5px;
        padding-left: 5px;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif
    }
    
    
    
    .contact-in-btn {
        width: 100%;
        height: 50px;
        border: 1px solid #fff;
        outline: none;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    
    /* Service */
    .second{
        margin-top: 20px;	
    }

    /* Inside Service */
    /* .serviceinside-container {
        display: none;
    } */

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .col .serviceinside-box1{
        flex-basis: 100%;
        position: absolute;
        /* margin-left: 100px; */
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 5px 5px 2px grey;
    }

    .serviceinside-box1{
        width: 400px;
        height: 50px;
        background-color: brown;
        color: white;
        text-align: center;
        margin: 20px 20px;
        cursor: pointer;
    }
    .serviceinside-box2{
        width: 400px;
        height: 50px;
        background-color:  rgb(197, 214, 38);
        color: white;
        text-align: center;
        margin: 20px 20px;
        cursor: pointer;
    }

    .serviceinside-box3{
        width: 400px;
        height: 50px;
        background-color: rgb(37, 202, 153);
        color: white;
        text-align: center;
        margin: 20px 20px;
        cursor: pointer;
    }
    .serviceinside-box4{
        width: 400px;
        height: 50px;
        background-color: brown;
        color: white;
        text-align: center;
        margin: 20px 20px;
        cursor: pointer;
    }

    .serviceinside-col {
        flex-basis: 100%;
        position: relative;
        width: 200px;
        height: 200px;
        margin: 10px 20px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 10px 10px 5px grey;
    }

  }
  
  
 