@media (min-width: 768px) and (max-width: 1024px) {
    .headertop{
        display: block;
    }

    .headertop marquee{
        behavior: "alternate";
        width: 70%;
    }
    
@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInSide{
    0%{
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.home-section .cover .home-content h1{
    font-size:45px;
    color: #000000;
    margin: 0 0 15px;
    margin-top: 100px;
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}

.home-section .cover .home-content p{
    font-size: 18px;
    color: #000000;
    margin: 0 0 15px;
     opacity: 0;
     animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
}

.home-section .cover .home-content button{
    width: 140px;
    color: #fff;
    font-size: 13px;
    padding: 12px 0;
    background-color: #000000;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0;
    animation: fadeInSide 1s ease forwards;
    animation-delay: 1.5s;
}


    .card {
        display: none;
        
    }
    
    /* Contact */
    .contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 100%;
    }

    .contact-in-input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        outline: none;
        padding-left: 5px;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
    }
    

    
    .contact-in-textarea {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        outline: none;
        padding-top: 5px;
        padding-left: 5px;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif
    }
    
    
    
    .contact-in-btn {
        width: 100%;
        height: 50px;
        border: 1px solid #fff;
        outline: none;
        background: transparent;
        color: #a8cecc;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    
    /* Service */
    .second{
        margin-top: 20px;	
    }

    /* Service Inside */

    
  }
  